p {
  font-family: Roboto;
}

.video-cover {
  width: 400px;
  border-radius: 10px;
}

.video-title {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
  width:320px;
  display: -webkit-box; /* This is required for compatibility with certain browsers */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to display */
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-description {
  margin: 0px;
  line-height: 20px;
  color: gray;
}

.video-author {
  height: 50px;
  border-radius: 50px;
  
}


.video {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.video-single {
  margin-bottom: 50px;
}

.video-info {
  display: grid;
  grid-template-columns: 60px 1fr;
}